<div class="header">
 <div class="header_left">
   <h1><%= t('.relation_types') %></h1>
 </div>
  <div class="header_right">
    <ul class="header_menu">
      <li><%= link_to t('.new'), new_admin_relation_type_path, :class => 'link' %></li>
    </ul>
  </div>
</div>
<div class="content2">
  <% @relation_types.each do |rt| %>
      <%= rt.from %>
      <%= rt.from_to_phrase %>
      (reverse: <%= rt.to_from_phrase %>)
      <%= rt.to %>
      <%= link_to t('.edit'), edit_admin_relation_type_path(rt), :class => "action_link" %>
      <%= link_to t('.delete'), [:admin, rt], confirm: 'Are you sure?', method: :delete, :class => 'action_link' %>
      <br>
  <% end %>
</div>