<%= field_set_tag t('.references') do %>
    <table id="relations_to">
      <tr>
        <td class="label"><%= t('.referencing') %></td>
        <td class="label"><%= t('.relation_type') %></td>
      </tr>
      <% @relations_to.each do |rt| %>
          <tr>
            <td class="value"><%= rt.to %></td>
            <td class="value"><%= rt.relation_type %></td>
            <td class="value"><%= link_to t('.delete'), rt, :confirm => 'Sure', :method => :delete, :class => 'link' %></td>
          </tr>
      <% end %>
    </table>
    <hr>
    <% if @relation %>
    <%= form_for(@relation) do |f| %>
        <%= f.hidden_field :from, :value => @poem.id %>
        <%= f.select :relation_type, RelationType.select_list %>
        <%= f.select :to, Poem.poems_for_relations %>
        <%= f.submit 'New relation' %>
    <% end %>
        <% else %>
        No new relation
        <% end %>
<% end %>