<%= form_for(@value, :remote => true) do |f| %>
    <%= f.hidden_field :poem, :value => @poem.id %>
    <%= f.text_field :name %>
    <%= f.text_field :value %>
    <%= f.submit 'New value' %>
<% end %>

<% if @poem.has_children? %>
  <p>WARNING: Adding or removing values does affect all existing children of this poem!</p>
<% end %>