<div class="header">
  <%= form_for(@poem) do |f| %>
    <div class="header_left">
      <h1><%= t('.edit') %> <%= @poem.type %>: <%= @poem %></h1>
    </div>
    <div class="header_right">
      <ul class="header_menu">
        <li><%= f.submit %></li>
        <li><%= link_to "Discard", @poem, :class => 'link' %></li>
        <li><%= link_to "Poems", poems_path, :class => 'link' %></li>
        <li><%= link_to "Delete", @poem, confirm: 'Are you sure?', method: :delete, :class => 'link' %></li>
      </ul>
    </div>
</div>
<div class="content2">
  <%= field_set_tag t('.properties') do %>
    <table>
      <tr>
        <td class="label"><%= t('.type') %></td>
        <td class="value"><%= f.select :poem_type, options_for_select(Poem.poem_types, @poem.poem_type) %></td>
      </tr>
      <tr>
        <td class="label"><%= t('.name') %></td>
        <td class="value"><%= f.text_field :poem_name, :value => @poem.poem_name %></td>
      </tr>
      <tr>
        <td class="label"><%= t('.is_poem_type') %></td>
        <td class="value"><%= f.check_box :is_poem_type %></td>
      </tr>
    </table>
  <% end %>
  <% end %>
  <%= field_set_tag t('.values') do %>
    <table id="values"></table>
    <a href="" onclick="addValue();return false">Add value</a>
  <% end %>
  <%= field_set_tag t('.referencing') do %>
    <table id="relations">
      <%= render @relations_to %>
    </table>
    <div id="relation_form">
      <%= render 'relation_form' %>
    </div>
  <% end %>
  <%= field_set_tag t('.referenced_by') do %>
    <table id="referenced_by">
      <% @poem.links_to_predecessors.each do |r| %>
        <tr>
          <td><%= link_to r.from, r.from %></td>
          <td><%= r.relation_type %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<script>
    var value = 1;
    var valueList = [];

    $(document).ready(function() {
        // now its time to load the existing properties
        <% @poem.values.each do |k,v| %>
            var val = new Value("<%= k %>", "<%= v %>");
            valueList.push(val);
        <% end %>
        displayValues();
    });

    addValue = function() {
        var new_value= new Value("Value "+value, "no value");
        valueList.push(new_value);
        value++;

        // now redraw the table
        displayValues();
    };

    changeLabel = function(index) {
        var newLabel = "";
        newLabel = $("input[id=\""+index+"\"]").val();
        var val = valueList[index];
        val.label = newLabel;

        // now redraw the table
        displayValues();
    };

    removeValue = function(index) {
        valueList.splice(index, 1);
        // ... and redraw the table
        displayValues();
    };

    displayValues = function() {
        // first: head line
        $('#values').html("<tr><th class=\"label\">Label</th><th class=\"label\">Value</th><th class=\"label\">Remove?</th></tr>");

        // then a row per array entry
        var counter = 0;
        while (counter < valueList.length ) {
            var val = valueList[counter];
            var line = "";
            // start row
            line = line + "<tr>";
            // create editable value label; vls = value label string
            var vls = "";
            vls = vls + "<input id=\""+counter+"\" type=\"text\" name=\"values["+val.label+"]\" value=\""+val.label+"\" onChange=\'changeLabel("+counter+");return false;\'>";
            // merge vls into output line
            line = line + "<td>" + vls + "</td>";
            // create editable value field; vfs = value field string
            var vfs = "";
            vfs = vfs + "<input type=\"text\" name=\"values["+val.label+"]\" value=\""+val.value+"\">";
            line = line + "<td>" + vfs + "</td>";
            // add a remove button; rvs = remove value string
            var rvs = "";
            rvs = rvs + "<a href=\"\" onclick=\'removeValue("+counter+");return false;\'>X</a>";
            // merge rvs into output line
            line = line + "<td>" + rvs + "</td>";
            // close row
            line = line + "</tr>";
            $('#values').append(line);
            counter++;
        }
    };

    Value = function(label, value) {
        this.label = label;
        this.value = value;
    };

</script>
