<h1>
  <% if params[:search] %>
    <%= t('.search_results_for') %>: <%= params[:search] %>
  <% else %>
    <%= t('.overview') %>
  <% end %>
</h1>

<% if @result[:cnt_poem_types] > 0 %>
  <section class="poem-data">
    <section class="poem-data-header">
      <div class="align-left">
        <em><%= t('poems.meta_poems') %></em>
      </div>
    </section>
    <article class="poem-data-content">
      <ul class="flat_list">
        <% @result[:poem_types].each do |p| %>
            <li><%= link_to p, p, :class => 'link' %></li>
        <% end %>
      </ul>
    </article>
  </section>
<% end %>

<% if @result[:cnt_poems] > 0 %>
  <section class="poem-data">
    <section class="poem-data-header">
      <div class="align-left">
        <em><%= t('poems.poems') %></em>
      </div>
    </section>
    <article class="poem-data-content">
      <ul class="flat_list">
        <% @result[:poems].each do |p| %>
            <li><%= link_to p, p, :class => 'link' %></li>
        <% end %>
      </ul>
    </article>
  </section>
<% end %>

<% if @result[:cnt_values] > 0 %>
  <section class="poem-data">
    <section class="poem-data-header">
      <div class="align-left">
        <em><%= t('values.values') %></em>
      </div>
    </section>
    <article class="poem-data-content">
        <table>
          <tr>
            <td class="label_cell"><%= t('poems.meta_poem') %></td>
            <td class="label_cell"><%= t('poems.poem') %></td>
            <td class="label_cell"><%= t('values.attribute') %></td>
            <td class="label_cell"><%= t('values.value') %></td>
          </tr>
          <% @result[:values].each do |v| %>
              <% if v.poem %>
                 <tr class="row-wrapper">
                    <% if v.poem.parent == nil %>
                        <td class="value_cell"><%= t('poems.no_meta_poem') %></td>
                    <% else %>
                        <td class="value_cell"><%= link_to v.poem.parent, v.poem.parent, :class => 'link' %></td>
                    <% end %>
                    <td class="value_cell"><%= link_to v.poem, v.poem, :class => 'link' %></td>
                    <td class="value_cell"><%= v.name %></td>
                    <td class="value_cell"><%= raw v.value_to_s %></td>
                  </tr>
              <% end %>
          <% end %>
        </table>
    </article>
  </section>
<% end %>
