<%= form_for @poem do |f| %>
  <% if @mode == 'meta_poem' %>
    <%= field_set_tag t('poems.new_meta_poem') do %>
      <%= f.hidden_field :parent_id %>
      <ol>
        <li><%= f.label :poem_name %><%= f.text_field :poem_name, :placeholder => t('.name_please') %></li>
      </ol>
    <% end %>
  <% else %>
    <%= field_set_tag t('poems.new_poem') do %>
      <ol>
        <li><%= f.label t('poems.meta_poem') %><%= f.collection_select :parent_id, Poem.poem_types, :id, :poem_name %></li>
        <li><%= f.label :poem_name %><%= f.text_field :poem_name, :placeholder => t('.name_please') %></li>
      </ol>
    <% end %>
  <% end %>
  <ul class="flat_list">
    <li><a href="#" onclick="document.forms['new_poem'].submit(); return false;" class="button focus"><%= t('create') %></a></li>
    <li><a href='#' onclick='overlay()' class="button"><%= t('cancel') %></a></li>
  </ul>
<% end %>