<div class="header">
  <div class="header_left">
    <h1><%= t('.new_poem') %></h1>
  </div>
  <div class="header_right">
    <ul class="header_menu">
      <li><%= link_to t('.cancel'), @poem, :class => 'action_link' %></li>
      <li><%= link_to t('.index'), poems_path, :class => 'action_link' %></li>
    </ul>
  </div>
</div>

<div class="content2">
  <%= field_set_tag t('.properties') do %>
    <%= form_for(@poem) do |f| %>
      <table>
        <tr>
          <td class="label"><%= t('.type') %></td>
          <td class="value"><%= f.collection_select :parent_id, Poem.poem_types, :id, :poem_name, :include_blank => true %></td>
        </tr>
        <tr>
          <td class="label"><%= t('.name') %></td>
          <td class="value"><%= f.text_field :poem_name, :placeholder => t('.new_name_please') %></td>
        </tr>
        <tr>
          <td class="label"><%= t('.is_poem_type') %></td>
          <td class="value"><%= f.check_box :is_poem_type %></td>
        </tr>
      </table>
      <%= f.submit t('.save') %>
    <% end %>
  <% end %>
</div>
