<div class="header">
  <div class="header_left">
    <h1><%= @poem.to_s_long %></h1>
  </div>
</div>
<div class="content2">
    <ul id="tabbed_menu">
      <li id="tab_meta"><%= t('.meta') %></li>
      <li id="tab_values" class="active"><%= t('.values') %></li>
      <li id="tab_relations"><%= t('.relations') %></li>
      <li id="tab_references"><%= t('.references') %></li>
      <% if @poem.is_poem_type? %>
        <li id="tab_usage"><%= t('.usage') %></li>
      <% end %>
    </ul>
    <div id="content_pane">
      <div id="pane_meta" class="hidden">
        <div class="row_wrapper">
          <div class="row_content">
            <em class="bold row_label"><%= t('.type') %></em>
            <div class="row_value">
              <% if @poem.parent %>
                  <%= link_to @poem.parent, @poem.parent, :class => 'link' %>
              <% else %>
                  <%= t('.no_type') %>
              <% end %>
            </div>
            <div class="row_action">
              <ul class="flat_list">
              </ul>
            </div>
          </div>
        </div>
        <div class="row_wrapper">
          <div class="row_content">
            <em class="bold row_label"><%= t('.name') %></em>
            <div class="row_value"><%= @poem %></div>
          </div>
          <div class="row_action">
            <ul class="flat_list">
              <li class="action_item"><%= link_to t('.edit'), edit_poem_path(@poem), :remote => true, :class => 'link' %></li>
            </ul>
          </div>
        </div>
        <ul class="flat_list">
          <li class="action_item"><%= link_to t('.new_poem'), new_poem_path, :remote => true, :class => 'button focus' %></li>
          <li class="action_item"><%= link_to t('.new_sibling'), new_poem_path(:new_parent => @poem.parent), :remote => true, :class => 'button' %></li>
          <li class="action_item"><%= link_to t('.delete'), @poem, confirm: 'Are you sure?', method: :delete, :class => 'button' %></li>
        </ul>
      </div>
      <div id="pane_values">
        <div id="values">
          <% if @poem.has_values? %>
            <% @poem.values.each do |v| %>
              <%= render :partial => "shared/value", :object => v %>
            <% end %>
          <% end %>
        </div>
        <ul class="flat_list">
          <li class="action_item"><%= link_to t('.new_value'), new_value_path(:poem => @poem.id), :remote => true, :class => "button focus" %><li>
        </ul>
      </div>
      <div id="pane_relations" class="hidden">
        <div id="relations">
          <% if @poem.has_relations? %>
            <% @poem.links_to_successors.each do |tr| %>
              <%= render :partial => "shared/relation", :object => tr %>
            <% end %>
          <% end %>
        </div>
        <ul class="flat_list">
          <li class="action_item"><%= link_to t('.new_relation'), new_relation_path(:poem => @poem.id), :remote => true, :class => "button focus" %><li>
        </ul>
      </div>
      <% if @poem.is_poem_type? %>
        <div id="pane_usage" class="hidden">
          <ul class="flat_list">
            <% @poem.children.each do |c| %>
              <li class="action_item"><%= link_to c, c, :class => 'link' %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div id="pane_references" class="hidden">
          <% if @poem.has_references? %>
            <table>
              <% @poem.links_to_predecessors.each do |p| %>
                <tr>
                  <div id="<%= dom_id(p) %>" class="row_wrapper">
                    <div class="row_content">
                      <div class="row_value">
                        <em class="bold"><%= @poem %></em>&nbsp;<%= p.to_from_phrase %>&nbsp;<%= link_to p.from, p.from, :class => 'link' %>
                      </div>
                    </div>
                  </div>
                </tr>
              <% end %>
            </table>
          <% else %>
            <%= t('.no_references') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
