<section id="poem-header">
  <div class="align-left">
    <% if @poem.parent %>
      <%= @poem.parent.to_s %>
    <% else %>
      <%= t('.meta_poem') %>
    <% end %>
    <br>
    <h1><%= @poem.to_s %></h1>
  </div>
  <div class="align-right">
    <ul class="flat_list">
      <li><%= link_to t('rename'), edit_poem_path(@poem), :remote => true, :class => 'button' %></li>
      <% if @poem.parent %>
        <li><%= link_to t('poems.data_lineage'), lineages_index_path(:poem_id => @poem.id), :class => 'button' %></li>
      <% else %>
        <li><%= link_to t('poems.data_lineage'), lineages_index_path, :class => 'button' %></li>
      <% end %>
      <% if @poem.parent %>
        <li><%= link_to t('new')+' '+@poem.parent.to_s, {:controller => 'poems', :action => 'new', :new_parent => @poem.parent.id}, :remote => true, :class => 'button '%></li>
      <% else %>
        <li><%= link_to t('new')+' '+@poem.to_s, {:controller => 'poems', :action => 'new', :new_parent => @poem.id}, :remote => true, :class => 'button' %></li>
      <% end %>
      <li><%= link_to t('delete'), @poem, confirm: 'Are you sure?', method: :delete, :class => 'button' %></li>
    </ul>
  </div>
  <div class="clear"></div>
</section>

<section class="poem-data">
   <section class="poem-data-header">
     <div class="align-left">
       <em><%= t('.values') %></em>
     </div>
     <div class="align-right">
        <ul class="flat_list">
          <li><%= link_to t('.new_value'), new_value_path(:poem => @poem.id), :remote => true, :class => 'button' %><li>
        </ul>
     </div>
     <div class="clear"></div>
   </section>
   <article class="poem-data-content">
        <div id="values">
          <% if @poem.has_values? %>
              <% @poem.values.each do |v| %>
                  <%= render :partial => 'shared/value', :object => v %>
              <% end %>
          <% else %>
            <%= t('.no_values_yet') %>
          <% end %>
        </div>
   </article>
</section>

<section class="poem-data">
   <section class="poem-data-header">
     <div class="align-left">
       <em><%= t('.relations') %></em>
     </div>
     <div class="align-right">
        <ul class="flat_list">
          <li><%= link_to t('.new_relation'), new_relation_path(:poem => @poem.id), :remote => true, :class => 'button' %><li>
        </ul>
     </div>
     <div class="clear"></div>
   </section>
   <article class="poem-data-content">
        <div id="relations">
          <% if @poem.has_relations? %>
              <% @poem.links_to_successors.each do |tr| %>
                  <%= render :partial => 'shared/relation', :object => tr %>
              <% end %>
          <% else %>
            <%= t('.no_relations_yet') %>
          <% end %>
        </div>
   </article>
</section>

<section class="poem-data">
   <section class="poem-data-header">
     <div class="align-left">
       <em><%= t('.references') %></em>
     </div>
     <div class="align-right">
     </div>
     <div class="clear"></div>
   </section>
   <article class="poem-data-content">
     <% if @poem.has_predecessors? %>
       <% @poem.links_to_predecessors.each do |p| %>
         <div id="<%= dom_id(p) %>" class='row-wrapper'>
           <div class="row-menu">
             <div class="row-label"><%= p.to_from_phrase %></div>
           </div>
           <div class="row-content">
             <div class="row_value">
               <%= link_to p.from, p.from, :class => 'link' %>
             </div>
           </div>
         </div>
       <% end %>
     <% else %>
       <%= t('.no_references') %>
     <% end %>
   </article>
</section>

<% if @poem.is_poem_type? %>
<section class="poem-data">
   <section class="poem-data-header">
     <div class="align-left">
       <em><%= t('.usage') %></em>
     </div>
     <div class="align-right">
     </div>
     <div class="clear"></div>
   </section>
   <article class="poem-data-content">
     <% if @poem.has_children? %>
       <ul class='flat_list'>
         <% @poem.children.each do |c| %>
           <li><%= link_to c, c, :class => 'link' %></li>
         <% end %>
       </ul>
     <% else %>
       <%= t('.no_usage_yet') %>
     <% end %>
   </article>
</section>
<% end %>
