<header>
  <div class="header_left">
    <% if @poem.parent %>
        <%= @poem.parent.to_s %>
        <% else %>
        <%= t('.meta_poem') %>
        <% end %>
    <br>
    <h1><%= @poem.to_s %></h1>
  </div>
  <div class="header_right">
    <ul class="flat_list">
      <% if @poem.parent %>
        <li><%= link_to t('poems.data_lineage'), lineages_index_path(:poem_id => @poem.id), :class => 'button' %></li>
      <% else %>
        <li><%= link_to t('poems.data_lineage'), lineages_index_path, :class => 'button' %></li>
      <% end %>
      <li><%= link_to t('poems.new_poem'), new_poem_path(:mode => :poem), :remote => true, :class => 'button' %></li>
      <li><%= link_to t('poems.new_meta_poem'), new_poem_path(:mode => :meta_poem), :remote => true, :class => 'button' %></li>
    </ul>
  </div>
</header>
  <section class="ac-container">
    <div>
      <input id="ac-1" name="accordion-1" type="checkbox" />
      <label for="ac-1"><%= t('.poem_meta_data') %></label>
      <article>
        <div class="row-wrapper">
          <div class="row-menu">
            <div class="row-label"><%= t('poems.meta_poem') %></div>
          </div>
          <div class="row-content">
              <% if @poem.parent %>
                  <%= link_to @poem.parent, @poem.parent, :class => 'link' %>
              <% else %>
                  <%= t('poems.no_meta_poem') %>
              <% end %>
          </div>
        </div>
        <div class="row-wrapper">
          <div class="row-menu">
            <div class="row-label"><%= t('poems.poem_name') %></div>
            <div class="row-action">
              <ul class="flat_list">
                <li><%= link_to t('edit'), edit_poem_path(@poem), :remote => true, :class => 'link' %></li>
              </ul>
            </div>
          </div>
          <div class="row-content"><%= @poem %></div>
        </div>
        <ul class="flat_list">
          <% if @poem.parent %>
              <li><%= link_to t('.new_sibling'), {:controller => 'poems', :action => 'new', :new_parent => @poem.parent.id}, :remote => true, :class => 'button '%></li>
          <% else %>
              <li><%= link_to t('.new_child'), {:controller => 'poems', :action => 'new', :new_parent => @poem.id}, :remote => true, :class => 'button' %></li>
          <% end %>
          <li><%= link_to t('delete'), @poem, confirm: 'Are you sure?', method: :delete, :class => 'button' %></li>
        </ul>
      </article>
    </div>
    <div>
      <input id="ac-2" name="accordion-1" type="checkbox" checked/>
      <label for="ac-2"><%= t('.values') %></label>
      <article>
        <div id="values">
          <% if @poem.has_values? %>
              <% @poem.values.each do |v| %>
                  <%= render :partial => 'shared/value', :object => v %>
              <% end %>
          <% end %>
        </div>
        <ul class="flat_list">
          <li><%= link_to t('.new_value'), new_value_path(:poem => @poem.id), :remote => true, :class => 'button' %><li>
        </ul>
      </article>
    </div>
    <div>
      <input id='ac-3' name='accordion-3' type='checkbox' checked />
      <label for='ac-3'><%= t('.relations') %></label>
      <article>
        <div id="relations">
          <% if @poem.has_relations? %>
              <% @poem.links_to_successors.each do |tr| %>
                  <%= render :partial => 'shared/relation', :object => tr %>
              <% end %>
          <% end %>
        </div>
        <ul class='flat_list'>
          <li><%= link_to t('.new_relation'), new_relation_path(:poem => @poem.id), :remote => true, :class => 'button' %><li>
        </ul>
      </article>
    </div>
    <div>
      <input id='ac-4' name='accordion-4' type='checkbox' checked />
      <label for='ac-4'><%= t('.references') %></label>
      <article>
        <% if @poem.has_references? %>
            <% @poem.links_to_predecessors.each do |p| %>
              <div id="<%= dom_id(p) %>" class='row-wrapper'>
                <div class="row-menu">
                  <div class="row-label"><%= p.to_from_phrase %></div>
                </div>
                <div class="row-content">
                  <div class="row_value">
                    <%= link_to p.from, p.from, :class => 'link' %>
                  </div>
                </div>
              </div>
            <% end %>
      <% else %>
            <%= t('.no_references') %>
        <% end %>
      </article>
    </div>
    <% if @poem.is_poem_type? %>
      <div>
        <input id='ac-5' name='accordion-5' type='checkbox' />
        <label for='ac-5'><%= t('.usage') %></label>
        <article>
          <ul class='flat_list'>
            <% @poem.children.each do |c| %>
                <li><%= link_to c, c, :class => 'link' %></li>
            <% end %>
          </ul>
        </article>
      </div>
    <% end %>
  </section>