<div class="header">
  <div class="header_left">
    <h1><% if @poem.parent %><%= @poem.parent %>: <% end %><%= @poem %></h1>
  </div>
  <div class="header_right">
    <ul class="header_menu">
      <li><%= link_to t('.edit'), edit_poem_path(@poem), :class => 'action_link' %></li>
      <li><%= link_to t('.new'), new_poem_path, :class => 'action_link' %></li>
      <li><%= link_to t('.index'), poems_path, :class => 'action_link' %></li>
      <li><%= link_to t('.delete'), @poem, confirm: 'Are you sure?', method: :delete, :class => 'action_link' %></li>
    </ul>
  </div>
</div>
<div class="content2">
    <ul id="tabbed_menu">
      <li id="tab_meta"><%= t('.meta') %></li>
      <li id="tab_values" class="active"><%= t('.values') %></li>
      <li id="tab_references"><%= t('.references') %></li>
      <% if @poem.is_poem_type? %>
        <li id="tab_usage"><%= t('.usage') %></li>
      <% end %>
      <% if not @poem.is_poem_type? %>
        <li id="tab_lineage"><%= t('.lineage') %></li>
      <% end %>
    </ul>
    <div id="content_pane">
      <div id="pane_meta" class="hidden">
        <table>
          <tr>
            <td class="label_cell"><%= t('.type') %></td>
            <td class="value_cell">
              <% if @poem.parent %>
                  <%= link_to @poem.parent, @poem.parent, :class => 'link' %>
              <% else %>
                  <%= t('.no_type') %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="label_cell"><%= t('.name') %></td>
            <td class="value_cell"><%= @poem %></td>
          </tr>
          <tr>
            <td class="label_cell"><%= t('.is_poem_type') %></td>
            <td class="value_cell">
              <% if @poem.is_poem_type? %>
                  <%= t('.yes') %>
              <% else %>
                  <%= t('no') %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <div id="pane_values">
        <% if @poem.has_values? %>
        <table id="values">
          <% @poem.values.each do |v| %>
              <tr>
                <td class="label_cell"><%= v.name %></td>
                <td class="value_cell"><%= v.value %></td>
              </tr>
          <% end %>
        </table>
            <% else %>
        <%= t('.no_values') %>
        <% end %>
      </div>
      <div id="pane_references" class="hidden">
        <% if @poem.has_references? %>
        <table>
          <% @poem.links_to_predecessors.each do |p| %>
            <tr>
              <td><%= link_to p.from, p.from, :class => 'link' %></td>
              <td><%= p.relation_type %></td>
              <td><%= link_to p.to, p.to, :class => 'link' %></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
          <% @poem.links_to_successors.each do |s| %>
            <tr>
              <td></td>
              <td></td>
              <td><%= link_to s.from, s.from, :class => 'link' %></td>
              <td><%= s.relation_type %></td>
              <td><%= link_to s.to, s.to, :class => 'link' %></td>
            </tr>
          <% end %>
        </table>
            <% else %>
        <%= t('.no_references') %>
            <% end %>
      </div>
      <% if @poem.is_poem_type? %>
        <div id="pane_usage" class="hidden">
          <% @poem.children.each do |c| %>
            <%= link_to c, c, :class => "action_link" %>
          <% end %>
        </div>
      <% end %>
      <% if not @poem.is_poem_type? %>
        <div id="pane_lineage" class="hidden"></div>
      <% end %>
    </div>
  </div>

<script type="text/javascript">

    var redraw;
    var height = 300;
    var width = 1000;

    window.onload = function() {
        var g = new Graph();
        g.addNode("<%= @poem.id %>", {label:"<%= @poem.to_s %>"});

        <% @poem.links_to_predecessors.each do |pred| %>
          g.addNode("<%= pred.from.id %>", {label:"<%= pred.from.to_s %>"});
          g.addEdge("<%= pred.from.id %>", "<%= @poem.id %>", {label:"<%= pred.relation_type.to_s %>", directed:true});
        <% end %>

        <% @poem.links_to_successors.each do |succ| %>
          g.addNode("<%= succ.to.id %>", {label:"<%= succ.to.to_s %>"});
          g.addEdge("<%= @poem.id %>", "<%= succ.to.id %>", {label : "<%= succ.relation_type.to_s %>", directed:true});
        <% end %>

        /* layout the graph using the Spring layout implementation */
        var layouter = new Graph.Layout.Spring(g);
        layouter.layout();

        /* draw the graph using the RaphaelJS draw implementation */
        var renderer = new Graph.Renderer.Raphael('pane_lineage', g, width, height);
        renderer.draw();

        redraw = function() {
            layouter.layout();
            renderer.draw();
        };

  };

</script>