<%= form_for @value, remote: true, :html => { :id => 'edit_value' } do |f| %>
    <%= field_set_tag t('.edit_value')+' '+@value.to_s do %>
      <ol>
      <% if @value.poem.parent == nil %>
        <li><%= f.label :name %><%= f.text_field :name %></li>
        <li><%= f.label t('.default_value') %><%= f.text_field :value, :value => @value.value_to_s %></li>
        <li><%= f.label :overwrite %><%= f.check_box :overwrite %></li>
        <li><%= f.label :removable %><%= f.check_box :removable %></li>
        <li><%= f.label :value_type %><%= f.select :value_type, Value.value_types %></li>
      <% else %>
        <li><%= f.send(@value.get_value_type, :value) %></li>
      <% end %>
      </ol>
      <ul class="flat_list">
        <li class="action_item">
          <a href="#" onclick="$('#edit_value').submit(); return false;" class='button'><%= t('.update') %></a>
        </li>
        <li class="action_item">
          <a href='#' onclick='overlay()' class='button'><%= t('.cancel') %></a></li>
      </ul>
    <% end %>
<% end %>