<div id="<%= dom_id(value) %>" class="row-wrapper">
  <div class="row-menu">
    <div class="row-label">
      <%= value.to_s %>
    </div>
    <div class="row-action">
      <ul class="flat_list">
        <li><%= link_to t('.edit'), edit_value_path(value), :remote => true, :class => 'link' %></li>
        <% if value.is_removable? %>
            <li><%= link_to t('.delete'), value, confirm: 'Are you sure?', :method => :delete, :remote => true, :class => 'link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row-content">
    <% if value.get_value_type == 'reference_poem' && value.reference_poem %>
      <%= link_to value.reference_poem, value.reference_poem, :class => 'link' %>
    <% elsif value.get_value_type == 'check_box' %>
      <% if value.value == '1' %>
        <input type="checkbox" checked disabled="true">
      <% else %>
        <input type="checkbox" disabled="true">
      <% end %>
    <% else %>
      <%= raw value.value_to_s %>
    <% end %>
  </div>
</div>
