<!DOCTYPE html>
<html>
<head>
  <title>Shakespeare</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'raphael-min' %>
  <%= javascript_include_tag 'dracula_graffle' %>
  <%= javascript_include_tag 'dracula_graph' %>
  <%= javascript_include_tag 'dracula_algorithms' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header-container">
  <header>
    <ul class="flat_list align-left">
      <li><%= link_to t('.home'), mdms_path, :class => 'button' %></li>
      <% if Poem.poems? %>
        <li><%= link_to t('poems.data_lineage'), lineages_index_path, :class => 'button' %></li>
      <% end %>
      <% if Poem.meta_poems? %>
        <li><%= link_to t('poems.new_poem'), new_poem_path(:mode => :poem), :remote => true, :class => 'button' %></li>
      <% else %>
        <li><%= link_to t('poem.install_template_repository'), poems_path(:task => :install_template_repository), :class => 'button' %></li>
      <% end %>
      <li><%= link_to t('poems.new_meta_poem'), new_poem_path(:mode => :meta_poem), :remote => true, :class => 'button' %></li>
    </ul>
    <div class="align-right">
        <%= form_tag poems_path, :method => :get do %>
            <%= submit_tag t('.search'), :name => nil, :style => 'display: none' %>
            <%= search_field_tag :search, '', :placeholder => 'search...' %>
        <% end %>
              <%= form_tag mdms_path, :class => 'locale' do %>
        <%= submit_tag 'submit' %>
        <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), :onchange => 'this.form.submit()', :style => 'display: none' %>
      <% end %>

    </div>
    <div class="clear"></div>
  </header>
</div>

<div class="content-container">
  <section class="content">
    <section id="finder" class="align-left">
      <h2><%= t('workspace') %></h2>
        <%=h finder %>
    </section>
    <div id="poem" class="align-right">
      <%= yield %>
    </div>
    <div class="clear"></div>
  </section>
</div>

<div class="footer-container">
  <footer>
    <%= link_to t('.shakespeare'), mdms_path, :class => 'shakespeare' %>
  </footer>
</div>

<div id="overlay">
  <div id="generic_dialog" class="overlay_dialog"></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $('.locale input').css("display", "none");
  });

  function overlay(dialog) {
      $(".overlay_dialog").each(function() {
          $(this).css("visibility", "hidden");
      });
      var el = document.getElementById("overlay");
      el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
      if (el.style.visibility == "visible") {
          $('#'+dialog).css("visibility", "visible");
      }
  }

  function get_to_poems() {
      var rel_id = $('#relation_parent').val();
      var to_poems = $.ajax({
          type: "GET",
          url: "to_poems",
          data: {relation: rel_id},
          dataType: 'json',
          success: function (data) {
              var mySelect = $('#relation_to');
              mySelect.empty();
              $.each(data['poems'], function (index, element) {
                  mySelect.append(
                          $('<option></option>').val(element.id).html(element.poem_name)
                  );
              });
              $('#relation_from_to_phrase').val(data['ftp']);
              $('#relation_to_from_phrase').val(data['tfp']);
          }
      })
  }

  function toggle_phrases() {
      $('#new_rel_from_to_phrase').toggle();
      $('#new_rel_to_from_phrase').toggle();
  }

</script>

<%= yield :javascript %>

</body>
</html>
