<!DOCTYPE html>
<html>
<head>
  <title>Shakespeare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-nav-wrapper">
  <div class="container">
    <div class="left">
      <span class="shakespeare">shakespeare // </span>
      <%= link_to t('.home'), mdms_path, :class => 'link' %>
    </div>
    <div class="right">
      <%= form_tag mdms_path, :method => :get do %>
        <%= search_field_tag :search, '', :placeholder => 'search...' %>
        <%= check_box_tag :advanced_search, value = 'set', checked = true %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <%= yield %>
  </div>
</div>

</body>
</html>